.header {
  height: 52px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #283e4b;
  margin: 0;
}

.nav-main-content {
  border: none;
  max-width: 1128px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 52px;
}
