.nav-main {
  display: flex !important;
  height: 52px !important;
  margin: 0;
  padding: 0;
  }

.nav-list {
  align-items: flex-end;
  background: none;
  flex-shrink: 0;
  height: 100%;
  margin: 0 0 0 auto;
  overflow: visible;
  position: relative;
  width: auto;
  z-index: 100;
}

.nav-list {
  list-style: none;
  display: inline-flex;
}

.home-icon {
  color: #0076b3;
  font-size: 2.5em;
  margin-right: 12px;
}

.search-field {
  background-color: #e1e8ee;
  height: 32px;
  border-radius: 2px;
  border: 1px solid grey;
  padding-left: 5px;
}

header form {
  margin: 0;
}

/*.main-nav-item {
  font-size: 16pt;
}
*/

li a {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  height: 42px;
  width: 80px;
  color: #ffffff;
  margin-bottom: 3px;
}

.nav-item-word {
  margin-top: 4px;
  font-size: 8pt;
}

.premium-link {
  color: #cfd0c0;
  font-size:10pt;
  /*max-width: 100px;*/
  height: 100%;
  width: 100%;
  text-align: center !important;

}

.premium-link-container {
  width: 100px;
  height:100%;
}

.nav-item-link {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 47px;
  line-height: 1;
  margin-top: auto;
  width: 100%;
}
